.menuPanel {
    position: relative;
    background: var(--color-background);
    border: var(--border-sm) solid var(--color-border);
    border-radius: var(--radius-sm);
    overflow: hidden;
    transition:
        max-height var(--transition-fast) ease,
        opacity var(--transition-fast) ease,
        visibility var(--transition-fast) ease;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    width: 100%;
}

.menuPanelOpen {
    visibility: visible;
}

.menuContent {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-md);
}

.menuComponent {
    padding-bottom: var(--space-sm);
    background-color: var(--color-background);
}

.menuComponent:last-child {
    border-bottom: none;
}
