.label {
    user-select: none;
}

.default {
    display: block;
    margin-bottom: var(--space-sm);
    font-size: var(--font-size-md);
    font-weight: var(--font-regular);
    color: var(--color-text);
}

.caption {
    font-size: var(--font-size-xs);
    font-weight: var(--font-semibold);
    color: var(--color-text-sec);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-caption);
}
